<!DOCTYPE html>
<html>
<head>
  <title>Faye Messaging</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "http://192.168.1.149:9292/faye.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
<%= yield %>
</div>

</body>
</html>
